

@media (max-width: 1200px) {
  .form-input,
  .form-select {
    width: 100%;
  }

}

@media (max-width: 992px) {

  body {
    background-color: greenyellow;
  }

  .container-navigation {
    display: none;
  }
}
